# Ignore TeX temporaly files.
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.gz
*.bbl
*.blg
*.out
*Notes.bib

# Ignore pdf files in this folder
*.pdf

# Ignore the diff folder
diff

# notebook temporary file
.ipynb_checkpoints
